@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ultra&display=swap");

:root {
  --main-font: "ultra-regular", serif;
  --second-font: "Source Sans 3", sans-serif;
  --text-color-main: rgb(255, 255, 255);
  --text-color-secondary: rgba(255, 0, 0, 0.6);
  --card-background: linear-gradient(#0b0b0b 57%, #525151);
  --card-background-reverse: linear-gradient(0deg, #0b0b0b 43%, #525151);
}
* {
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  transition: 0.3s ease;
}

/* Home */
.home-theme {
  background-color: #0b0b0b;
}

/* Page film */
.movie-theme {
  background:
    linear-gradient(to right, rgba(255, 0, 0, 0.6), transparent 2%),
    linear-gradient(to left, rgba(255, 0, 0, 0.6), transparent 2%) #0b0b0b;
}

/* Page série */
.tv-theme {
  background:
    linear-gradient(to right, rgba(255, 0, 0, 0.6), transparent 2%),
    linear-gradient(to left, rgba(255, 0, 0, 0.6), transparent 2%) #0b0b0b;
}

/* Recherche */
.search-theme {
  background:
    linear-gradient(to right, rgba(255, 0, 0, 0.6), transparent 2%),
    linear-gradient(to left, rgba(255, 0, 0, 0.6), transparent 2%) #0b0b0b;
}

/* Séances */
.seances-theme {
  background:
    linear-gradient(to right, rgba(255, 0, 0, 0.6), transparent 2%),
    linear-gradient(to left, rgba(255, 0, 0, 0.6), transparent 2%) #0b0b0b;
}

/* Par défaut */
.default-theme {
  background:
    linear-gradient(to right, rgba(255, 0, 0, 0.6), transparent 2%),
    linear-gradient(to left, rgba(255, 0, 0, 0.6), transparent 2%) #0b0b0b;
}

.page {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
