.BigCard {
  /* background: var(--card-background); */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  border-radius: 10px;
  .BigCardDivImg {
    order: 1;
    display: flex;
    justify-content: center;
    img {
      height: 60vh;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }
  .BigCardDivText {
    order: 2;
    margin-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: var(--text-color-main);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-family: var(--main-font);
      font-weight: 400;
      font-style: normal;
      font-size: 2.5em;
      padding-left: 10px;
      position: relative;
      display: flex;
      align-items: center;
    }
    h1::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 75%;
      background-color: rgba(255, 0, 0);
      border-radius: 2px;
    }
    span {
      font-family: var(--main-font);
      font-weight: 400;
      font-style: normal;
      font-size: 1.2em;
      color: var(--text-color-secondary);
    }
    p {
      font-family: var(--second-font);
      font-size: 1.2em;
    }
  }
  &::before {
    order: 3;
    content: "";
    grid-column: 1 / -1; /* Prend toute la largeur de la grille (colonne 1 à la fin) */
    height: 4px;
    background: linear-gradient(to right, red, #0b0b0b);
    margin: 2vh auto; /* Espace au dessus et en dessous du trait */
    width: 85%;
  }
  .BigCardDivCharacters {
    order: 4;
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / -1;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }
}
@media (max-width: 1024px) {
  .BigCard {
    width: 90vw;
    display: flex;
    flex-direction: column;
    .BigCardDivImg {
      img {
        height: 100vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
      }
    }
    .BigCardDivText {
      margin-left: 5vh;
      margin-right: 5vh;
      h1 {
        font-size: 2em;
      }
      span {
        font-size: 1em;
      }
      p {
        font-size: 1em;
      }
    }

    .BigCardDivCharacters {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }
}
