.chat-wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 41%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.chat-header {
  padding: 16px;
  color: white;
  background: none;
  height: 10%;
  align-items: center;
  display: flex;
  border-bottom: 1px solid rgb(95, 95, 95);
  width: 80%;
}

.chat-header h2 {
  margin: 0;
}

.chat-messages {
  overflow-y: auto;
  padding: 16px;
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-empty {
  color: #ffffff;
  background: none;
  font-size: 17px;
  padding-left: 19px;
}

.message-row {
  display: flex;
  margin-bottom: 10px;
}

.message-row.mine {
  justify-content: flex-end;
}

.message-row.other {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
}

.message-bubble.mine {
  background: #ff0000;
  color: white;
  border-radius: 14px 14px 0 14px;
}

.message-bubble.other {
  color: rgb(255, 255, 255);
  /* border: 1px solid #ddd; */
  border-radius: 14px 14px 14px 0;
  background: rgba(255, 255, 255, 50%);
}

.message-bubble p {
  margin: 0;
  font-family: var(--second-font);
  font-size: 20px;
}

.chat-form {
  display: flex;
  gap: 8px;
  padding: 16px;
  /* background: rgb(0, 0, 0); */
  height: 10%;
}

.chat-form input {
  flex: 1;
  min-width: 0;
  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.185);
  font-size: 15px;
  color: white;
}
.chat-form input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.chat-form button {
  padding: 10px 14px;
  cursor: pointer;
  color: white;
  border-style: none;
  /* background-color: #000000; */
  /* border: 1px solid #ffffff; */
  font-size: 15px;
  align-items: center;
  display: flex;
  border-radius: 14px;
  background: none;
}
