.wrapper {
  margin: 0;
}

body {
  background: #0b0b0b;
}

.home-heart {
  margin: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 10vh;
}

.home-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
}

.titre-coup,
.titre-current {
  display: flex;
  border-left: 5px solid red;
  height: 18px;
  align-items: center;
  border-radius: 2px;
  padding-left: 8px;
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-family: var(--second-font);
  font-style: normal;
  white-space: nowrap;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

.home-title-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  flex-shrink: 0;
  display: block;
}

.home-current {
  display: flex;
  justify-content: space-around;
}

.block-control {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.home-mood {
  margin-bottom: 10rem;
  margin-top: 13vh;
}

.Banniere-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-image: url("/src/assets/images/Banniere.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 6%;
}

.Banniere-picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background: linear-gradient(to bottom, transparent, #0b0b0b);
}

.featured-film {
  color: white;
  position: relative;
}

.featured-badge {
  display: inline-block;
  color: #ff2222;
  background-color: rgba(218, 22, 22, 0.25);
  border: 1px solid #cc0000;
  border-radius: 30vh;
  padding: 0.8rem 1.6rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow:
    0 0 12px rgba(200, 0, 0, 0.6),
    inset 0 0 12px rgba(180, 0, 0, 0.3);
}

.featured-title {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
  line-height: 1;
  font-family: "ultra-regular", serif;
}

.featured-infos {
  display: flex;
  gap: 2rem;
  font-size: 2vh;
  margin-bottom: 2rem;
  align-items: center;
}

.featured-description {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 40vw;
}

.texte-bloc {
  display: flex;
  align-items: flex-start;
}

.featured-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.btn-voir {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-bande {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2.5rem;
  font-size: 1rem;
  font-weight: 700rem;
  text-transform: uppercase;
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.featured-film {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-left: -3rem;
  width: 57%;
}

.featured-poster {
  width: 20vw;
  border-radius: 3rem;
}

.featured-heart {
  height: 31rem;
}

.mood-title h3 {
  font-size: 1.5rem;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .Banniere-picture {
    height: auto;
    min-height: 80vh;
    padding: 2rem 1rem 4rem;
  }

  .featured-film {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .featured-poster {
    width: 28vw;
    border-radius: 2rem;
  }

  .featured-description {
    max-width: 80%;
    margin: 0 auto;
    display: none;
  }

  .featured-infos,
  .featured-buttons {
    justify-content: center;
  }

  .home-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    margin: 0 auto;
  }

  .featured-heart {
    height: auto;
  }

  .home-current {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14rem;
  }
}

@media (max-width: 768px) {
  .featured-title {
    font-size: 1rem;
    display: none;
  }

  .featured-description {
    font-size: 10px;
  }

  .featured-heart {
    height: auto;
  }

  .card img {
    height: 86%;
  }
}

@media (max-width: 480px) {
  .Banniere-picture {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
  }

  .featured-film {
    width: 100%;
  }

  .featured-heart {
    transform: scale(0.8);
  }

  .featured-poster {
    width: 70vw;
    max-width: 196px;
  }
  .featured-film {
    transform: scale(0.9);
  }

  .featured-description {
    display: none;
  }

  .home-title-icon {
    width: 28px;
    height: 28px;
  }

  .home-current {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }

  .card {
    width: 150px;
  }

  .home-current__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caroussel-court-container {
    height: fit-content;
  }
}
