.wrapper {
  margin: 0;
}

body {
  background: #0b0b0b;
}

.home-heart {
  margin: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* padding-left: 12vw; */
  padding-top: 10vh;
  align-items: center;
}

/* .home-titles {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transform: translateX(10rem);
  font-size: 18px;
} */

.titre-current {
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-family: var(--second-font);
  font-style: normal;
  white-space: nowrap;
  margin: 0;
}

.titre-coup {
  padding-right: 135vh;
}
.home-current {
  display: flex;
  justify-content: space-evenly;
}
.block-control {
  margin-top: 20vh;
  margin-bottom: 20vh;
}
/* .home-current {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: -15rem;
} */

/* .home-current > * {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-current__block {
  display: flex;
  flex-direction: column;
} */

.home-mood {
  margin-bottom: 10rem;
}

.Banniere-picture {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/Banniere.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.Banniere-picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%; /* ajuste la hauteur du fondu */

  background: linear-gradient(to bottom, transparent, #0b0b0b);
}

/* @media screen and (min-width: 480px) {
  .home-current {
    gap: 1rem;
  }
}

@media screen and (min-width: 780px) {
  .home-current {
    gap: 1rem;
  }
} */
