.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.688);
  padding: 10px 80px;
}

.footer-copy {
  flex: 1;
  text-align: center;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.footer-logo-link {
  display: flex;
  gap: 15px;
}

.logo-footer {
  max-width: 40px;
  filter: brightness(0) invert(1);
}
.logo-col {
  max-width: 40px;
  filter: invert(1);
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .footer-copy {
    flex: unset;
    text-align: center;
  }

  .footer-logo-link {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .logo-footer {
    max-width: 30px;
  }
  .logo-col {
    max-width: 30px;
  }
}
