.profile-layout {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2rem;
  padding: 4rem 2rem;
}

.profile-account-title {
  width: 70%;
}
.profile-account-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 70%;
  /* height: auto; */
  gap: 1rem;
  padding-right: 2rem;
  .profile-my-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(32, 32, 31);
    border-radius: 3px;
    width: 70%;
    height: auto;
    padding: 1.5rem;
  }
  .profile-member-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 30%;
    height: auto;
    background-color: rgb(32, 32, 31);
    border: 1px solid rgb(121, 2, 2);
    border-radius: 3px;
    text-align: center;

    padding: 1rem;

    .profile-badge {
      width: 40%;
      height: auto;
    }
  }
}

.profile-mdp-btn {
  padding: 1rem 2rem;
}

.profile-bold {
  font-weight: bold;
}

.profile-italic {
  font-style: italic;
}
.profile-max-width {
  max-width: 80%;
}
.profile-infos-pencil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  .profile-hidden-btn {
    background: transparent;
    border: none;
    width: 24px;
    aspect-ratio: 1 / 1;
  }
  .pencil-img {
    transform: rotate(90deg);
    filter: invert(1);
    width: 100%;
    height: auto;
  }
}
.profile-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 0 2rem 0;
  width: 70%;
  .profile-list {
    width: 100%;
  }
}

.profile-list-title {
  display: flex;
  border-left: 5px solid red;
  height: 18px;
  align-items: center;
  border-radius: 2px;
  padding-left: 8px;
  text-transform: uppercase;
  text-align: left;
  font-family: var(--second-font);
  font-style: normal;
  white-space: nowrap;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}
