.cinema-card {
  /* height: 40vh; */
  width: 17vw;
  padding-bottom: 1rem;
  border-radius: 18px;
  overflow: hidden;
  background: #111;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  text-align: center;
  color: white;
}

.cinema-card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(255, 0, 51, 0.7);
}

/* IMAGE */
.cinema-card img {
  width: 17vw;
  height: 17vw;
  object-fit: content;
  display: block;
}

/* TEXTE (comme card__description) */
.cinema-card h2 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
}

.cinema-card p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

/* LIEN stylé */
.cinema-card a {
  margin-bottom: 1.2rem;
  color: #ff0033;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.cinema-card a:hover {
  color: #ff5c75;
}
@media (max-width: 1024px) {
  .cinema-card {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .cinema-card img {
    width: 30vw;
    height: 30vw;
  }
}
