/* ===== CONTAINER ===== */

.mood-container {
  margin-top: 40px;
  width: 100%;
}

/* ===== TITLE ===== */

.mood-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: 0 auto 18px auto;
  width: fit-content;
}

.mood-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  display: block;
  margin-right: -9px;
}

.mood-red-bar {
  width: 5px;
  height: 18px;
  background: red;
  border-radius: 2px;
}

.mood-title h3 {
  color: white;
  text-transform: uppercase;
  font-family: var(--second-font);
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  letter-spacing: 0;
}

/* ===== BOX ===== */

.mood-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 30px 60px;

  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;

  width: fit-content;
  margin: 0 auto;

  backdrop-filter: blur(10px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.9);
}

/* ===== CIRCLE ===== */

.mood-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;

  border: none;
}

.mood-circle img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== HOVER ===== */

.mood-circle:hover {
  transform: scale(1.2) translateY(-5px);
}

/* ===== ACTIVE ===== */

.mood-circle.active {
  transform: scale(1.3);
  box-shadow:
    0 0 10px white,
    0 0 10px currentColor;
}
/* ===== PROF SPECIAL ===== */

.mood-special {
  position: relative;
  border-radius: 50%;
  z-index: 2;

  box-shadow: none;
}

.mood-special img {
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.mood-special:hover {
  transform: scale(1.3) translateY(-6px);

  box-shadow:
    0 0 10px #c0c0c0,
    0 0 10px #c0c0c0,
    0 0 10px #c0c0c0;
}

/* ===== CHEF SPECIAL ===== */

.mood-chef {
  position: relative;
  border-radius: 50%;
  z-index: 2;

  box-shadow:
    0 0 10px #eee3a3,
    0 0 10px #eee3a3,
    0 0 10px #eee3a3,;
}

.mood-chef img {
  position: absolute;
  bottom: -20px;
  height: 115%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.mood-chef:hover {
  transform: scale(1.3) translateY(-6px);

  box-shadow:
    0 0 10px #eee3a3,
    0 0 10px #eee3a3,
    0 0 10px #eee3a3;
}

/* ===== ANIMATION ===== */

@keyframes sparkle {
  from {
    transform: translate(60%, -60%) scale(1);
  }
  to {
    transform: translate(60%, -60%) scale(1.25);
  }
}

/* ===== RESPONSIVE ===== */

@media (max-width: 1024px) {
  .mood-box {
    gap: 20px;
    padding: 20px 30px;
    flex-wrap: wrap;
  }

  .mood-circle {
    width: 90px;
    height: 90px;
  }

  .mood-circle img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .mood-box {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 15px;
    padding: 15px;
    width: 100%;
  }

  .mood-box::-webkit-scrollbar {
    display: none;
  }

  .mood-circle {
    flex: 0 0 auto;
    width: 70px;
    height: 70px;
  }

  .mood-circle img {
    width: 60px;
    height: 60px;
  }

  .mood-special:hover,
  .mood-chef:hover {
    transform: scale(1.3);
  }
}
